.curd-container{
    background-color: #F4F4F4;
    display: flex;
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    gap: 20px;
}
.curd-item-container{
    width: 50%;
}
.table-container{
    width: 100%;
    border-collapse: collapse;
}

.table-container th{
    text-align: left;
}

.table-container th,.table-container td{
    border: 1px solid gray;
    padding: 5px;
}
