.btn{
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.btn:hover{
    background-color: brown;
    color: white;
}
.text-bold{
    font-weight: bold;
}
.users-wrapper{
    width: 30%;
    border-collapse: collapse;
}
.users-td{
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}

.person-wrapper{
    background-color: cadetblue;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.action-btn{
    background-color: blanchedalmond;
    color: black;
}


.action-btn:hover{
    background-color: rgb(186, 147, 88) !important;
    color: black!important;
}

.binding-wrapper{
    margin-bottom: 100px;
}